@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color:   
  #7986cb;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.App {
  padding-top:2%;
  padding-left:15% ;
  padding-right: 15%;
}

.App h1 {
  font-size: 3rem;
  text-align: center;
}

.main-container{
  min-height: 200px;
  color: black;
  padding: 3%;
  border-radius: 10px;
}

.utility {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  
}

.create{
  padding: .4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 40px;
  border: solid 2px white ;
  color: white;
  font-size: 12px;
  transition: transform .2s;
  
}

.create > i {
  vertical-align: middle;
  color: white;
}

.search-bar {
  position: relative;
}
.search-icon {
  position: absolute;
  right: 13px;
  top: 5px;
}

.search-bar input[type="text"]
{
  border-radius: 40px;
  padding: .4rem;
  border: none;
  border-right:40px solid 
  #63ca86;
  padding-left: 12px;

  position: relative;
}



.search-bar input:focus, textarea:focus, select:focus{
  outline: none;
}
.create:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.contact{
  
  max-height: fit-content;
  max-width: 500px;
  margin:auto;
  
}
.contact-heading {
  background-color: thistle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
  border-right: solid 5px #05396b;
}
.contact-heading p {
  margin: 0;
}
.contact-content {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 475px;
  margin: auto;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;

}

.contact-content > div 
{
  right: 0;
}
.contact-content > p {
  margin: 5px 0px;
}

.edit-contact > span {
  margin: 3px;
  padding: 8px;
  right: 0;
  float: right;
}


